.box {
    width: 68%;
    margin: auto auto 5rem auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
  }
.box > table {
  color: whitesmoke;
}
/* 
.hospitalList:hover {
  background-color: whitesmoke;
  color: black;
} */

.btn1 {
  all: unset; 
            background-color: cornflowerblue;
            color: white;
            padding: 5px 20px;
            border-radius: 20px;
            cursor: pointer;
            border-style: dotted;
            border-color: white;
            float: right;
            position: absolute;
            z-index: 100;       
            
}
