li {
  list-style: none;
}
#main-bg1,
#main-bg2 {
  border-radius: 30px;
  width: 80%;
  margin: 20px;
  max-width: 500px;
  box-shadow: 2px 2px 6px white;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#main-bg1:hover,
#main-bg2:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#main-bg-box {
  height: 40vh;
  display: flex;
  justify-content: center;
}

.floatingdiv {
  position: fixed;
  font-family: 'ImcreSoojin';
  font-size: 1.5em;
  width: 120px;
  overflow: hidden;
  right: 11px;
  top: 150px;
  background-color: whitesmoke;
  border-radius: 12px;
  margin: 0;
  padding: 0;
}

#admin-box {
  position: fixed;
  font-family: 'ImcreSoojin';
  font-size: 1.5em;
  right: 11px;
  bottom: 100px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: whitesmoke;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin-btn {
  padding: 0;
  margin: 0;
  border: none;
}
.admin-container {
  display: none;
}
#admin-contents {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 11px;
  bottom: 155px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-img-top {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  margin: 5px auto;
}
.card {
  background-color: rgba(100, 180, 180, 0.8);
}
.card-body {
  background-color: whitesmoke;
  border-radius: 12px;
  width: 80%;
  margin: 10px auto;
}
#our-service-h1 {
  font-family: 'ImcreSoojin';
  font-size: 50px;
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 2px 2px 6px #333;
}
#maincontent-box {
  background-color: rgba(188, 247, 247, 0.297);
}
.our-service {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 20px 0 0 0;
}
.service-list {
  text-align: center;
}
.service-list img {
  width: 90%;
  height: 80%;
  margin: 0 auto;
}
.service-list p {
  width: 90%;
  margin: 10px auto;
  line-height: 1.2em;
  font-size: 2em;
  background: linear-gradient(40deg, white, #eee);
  border-radius: 6px;
  box-shadow: 2px 2px 6px white;
}
.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}
input[type='submit'],
input[type='cancel'] {
  width: 40%;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460aa;
  color: #fff;
  border: none;
  cursor: pointer;
}
#form {
  width: 40vh;
  background-color: rgba(188, 247, 247, 0.7);
  z-index: 20;
  position: fixed;
  font-family: 'ImcreSoojin';
  font-size: 1.5em;
  overflow: hidden;
  right: 11px;
  bottom: 150px;
  border-radius: 12px;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formbox {
  display: none;
}
.btn-container-mail {
  display: flex;
  justify-content: space-around;
}
.btn-container-mail input {
  text-align: center;
}
.questadmin {
}
